<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/f81bec129c.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}

        <div class="container d-flex align-items-center" id="table-container">
            <div class="d-flex flex-column w-100">
                
                {% block table_title %}

                {% endblock %}

                <table id="table" class="table">
                    {% block table_inner %}

                    {% endblock %}
                </table>
            </div>
        </div>
        
    </body>
</html>